body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;}

ul,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}
/* #region header*/
.logo-web {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.logo-studio {color:#2e2f42}

.nav-items-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}
.nav-items-link:focus,
 .nav-items-link:hover,
 .address-items:hover,
 .address-items:focus {color: #404bbf}

.address-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;}
.address-nav {font-style: normal}
    /*#endregion header*/
/*#region main section*/
.main-section {background-color:#2e2f42;}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}
.button-order {background-color: #4d5ae5;
color:#fff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;}
.button-order:hover {background-color: #404bbf ;}
h3{font-weight: 500; font-size: 20px;}
p {font-weight: 400; font-size: 16px;}
.button-order:hover, 
.button-order:focus {background-color: #404bbf;
}
    /*#endregion main section*/
/* #region describe*/
.describe-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42}
.describe-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion desribe*/
/* #region team */
.team-main {background-color: #F4F4FD;}
.team-section {background-color: #FFF; }
.class-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    }
.image-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color:#2e2f42
   }
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion team*/
/* #region our portfolio*/
.element-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42 ;}
.element-describe {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/* #endregion our portfolio*/
/* #region footer */
.footer-page {background-color:#2e2f42;}
.logo-studio-footer {
    color: #f4f4fd
}
.footer-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;}
/* #endregion footer */